{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="alert alert-{{ message.tags }}">
                Account Created Successfully. <a href="{% url 'login' %}" class="ml-2">Log In Here</a>
            </div>
          </div>
        </div>
      </main>
{% endblock content%}