{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-outline-info" type="submit">Log In</button>
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't have an account? <a href="{% url 'client-add' %}" class="ml-2">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content%}