{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- FORM HERE -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ form_title }}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mt-2">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    </div>
{% endblock content%}